/*palette 
Forest Green
#104210

Lime Green
#6A8820

Yellow Green
#D3C02F

Gold
#F2E437
*/

/*Author: Mr. Thabang Mposula 2021*/
html {
    background: #D3C02F;
}
/*Custom - Scrollbar for html*/
/* width */
html::-webkit-scrollbar {
    width: 20px;
}

/* Track */
html::-webkit-scrollbar-track {
    background: #D3C02F!important;
    padding-top: 5px;
    margin: 10px 0;
    border-radius: 50rem; /* 0 15px 15px 0*/
}

/* Handle */
html::-webkit-scrollbar-thumb {
    background: #fff!important;
    border-radius: 50rem;
    border: solid 6px #D3C02F;
}

/* end custom scrollbar*/

.curtain {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    background: #D3C02F;
    z-index: 11000;
    color: white;
}
.curtain img {
    margin-top: -40px !important;
}
.curtain p {
    font-size: 8px;
    color: #104210;
}

.fixed-llg-logo-mesh-div-bg {
    background: url(../media/general/icons/icon-mesh-llg-3.png)!important;
    /*linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../media/certbg.jpg)*/
    /* no-repeat center center fixed*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-position: center;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.llg-logo-mesh-div-bg {
    background: url(../media/general/icons/icon-mesh-llg-3.png);
    /*linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../media/certbg.jpg)*/
    /* no-repeat center center fixed*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.lw-logo-mesh-div-bg {
    background: url(../media/general/icons/icon-mesh-lw.png);
    /*linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../media/certbg.jpg)*/
    /* no-repeat center center fixed*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.store-custom-navbar {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, rgba(211, 192, 47, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, rgba(211, 192, 47, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, rgba(211, 192, 47, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d3c02f", GradientType=1);
}

.custom-navbar a {
    color: #104210 !important;
}

#sub-custom-nav {
    background: #D3C02F !important;
    color: white !important;
    transition: 0.5s;
    overflow-x: hidden;
}

#sub-custom-nav a {
    color: #104210;
}

#toggle-wallet-manager {
    background: #D3C02F !important;
    color: #104210 !important;
    transition: 0.5s;
}

.store-section-card-left {
    min-height: 300px;
    background: #F2E437;
    border-radius: 25px 0 0 25px;
}

.store-section-card-right {
    min-height: 300px;
    background: #F2E437;
    border-radius: 0 25px 25px 0;
}

/*sidebar style*/
.store-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D3C02F;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 200px;
    transition: 0.5s;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    border-top-right-radius: 25px;
    z-index: 2;
}

.store-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive !important;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/*.sidebar a:hover {
    color: black;
}*/

.store-sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*Custom - Scrollbar for sidebar*/
/* width */
.store-sidebar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.store-sidebar::-webkit-scrollbar-track {
    /*background: #104210;*/
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 90px;
}

/* Handle */
.store-sidebar::-webkit-scrollbar-thumb {
    background: #104210;
    border-radius: 25px;
    transition: 0.3s;
}

/* Handle on hover */
.store-sidebar::-webkit-scrollbar-thumb:hover {
    background: white;
    width: 15px;
}

/* end custom scrollbar*/

.store-closebtn:hover {
    color: black !important;
}

.store-openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #D3C02F !important;
    padding: 10px 15px;
    border: none;
    color: rgb(28, 105, 99);
    border-radius: 15px !important;
}

.store-openbtn:hover {
    color: white !important;
    background-color: #D3C02F;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

/*Product Cards*/
.store-product-card {
    border-radius: 25px !important;
    transition: 0.5s;
    background: white !important;
    color: #E43D40;
}

.store-product-card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.store-product-card-tag {
    margin-top: -10px;
    max-width: 100px !important;
    height: auto !important;
    background: #D3C02F;
    color: white;
    border-bottom-left-radius: 0px !important;
}

.store-product-card-specs {
    font-size: 10px;
}

.store-product-card-buttons {
    background: white !important;
    color: #104210 !important;
    transition: 0.5s;
}

.store-product-card-buttons:hover {
    background: #104210 !important;
    color: white !important;
}

/**/
#supplies-catagories {}

#supplies-catagories a {
    color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #E43D40 !important;
    background-color: #FABEC0;
    border-radius: 0 50rem 50rem 50rem !important;
}

/*Custom - Scrollbar for h-scrolling-wrapper*/
/* width */
.h-scrolling-wrapper::-webkit-scrollbar {
    height: 10px;
}

/* Track */
.h-scrolling-wrapper::-webkit-scrollbar-track {
    /*background: #104210;*/
    border-radius: 50rem;
    margin-top: 30px;
    margin-bottom: 90px;
}

/* Handle */
.h-scrolling-wrapper::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 25px;
    transition: 0.3s;
}

/* end custom scrollbar*/

/*footer*/
.footer {
    background: #E43D40;
    min-height: 600px;
    padding-bottom: 20px;
}

#footer {
    transition: 0.5s;
}

/*Fixed bottom Tab Navigation Bar*/
.tab-nav {
    max-height: 800px !important;*/
    background: -moz-linear-gradient(90deg, rgba(211, 192, 47, .5) 0%, rgba(255, 255, 255, 1) 80%);
    background: -webkit-linear-gradient(90deg, rgba(211, 192, 47, .5) 0%, rgba(255, 255, 255, 1) 80%);
    background: linear-gradient(90deg, rgba(211, 192, 47, .5) 0%, rgba(255, 255, 255, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D3C02F", endColorstr="#ffffff", GradientType=1);
    border-top-right-radius: 25px;
}

.tab-nav a {
    font-size: 18px;
    /*2vw*/
    color: #104210 !important;
    transition: 0.3s;
}

.tab-nav a:hover {
    border-bottom: solid 5px #104210;
}

.tab-nav button {
    font-size: 2vw !important;
}

#tab-nav-copyright {
    color: #104210 !important;
    font-size: 5px;
    transition: 0.3s;
}

#tab-nav-copyright:hover {
    font-size: 15px;
}

.focused {
    border-bottom: solid 5px #104210;
}

/*:hover*/
#goto-activity-app:hover {
    border-left: solid 10px #104210;
}

#goto-activity-store:hover {
    border-left: solid 10px #104210;
}

#goto-activity-social:hover {
    border-left: solid 10px #104210;
}

#goto-activity-blog:hover {
    border-left: solid 10px #104210;
}

#goto-activity-market:hover {
    border-left: solid 10px #104210;
}

.store-sidebar-text-logo-bg-hover:hover {
    background: #D3C02F!important;
}

/*wallet manager, discount coupons, shopping bag and checkout*/
/*Custom - Scrollbar for #chechout-items-list*/
#chechout-items-list {
    max-height: 300px !important;
    overflow-y: auto !important;
}

/* width */
#chechout-items-list::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#chechout-items-list::-webkit-scrollbar-track {
    background: #104210;
    border-radius: 50rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Handle */
#chechout-items-list::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 25px;
    transition: 0.3s;
}

/**/
.social-ui-segments {
    background: rgba(211, 192, 47, .8);
    /*min-height: 300px; */
    border-radius: 25px;
}

.social-ui-segments-white {
    background: rgba(225, 225, 225, .9);
    /*min-height: 300px; */
    border-radius: 25px;
}

.sus-gradient {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0.8) 30%, rgba(211, 192, 47, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.8) 30%, rgba(211, 192, 47, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 30%, rgba(211, 192, 47, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d3c02f", GradientType=1);
}

/*Custom - Shared vertical Scrollbar style for .Store (.v-scrolling-wrapper)*/
/* width */
.v-scrolling-wrapper::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.v-scrolling-wrapper::-webkit-scrollbar-track {
    /*background: #104210;*/
    border-radius: 50rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Handle */
.v-scrolling-wrapper::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 25px;
    transition: 0.3s;
}

/* end custom scrollbar*/

/*Status Update Cards*/
.profile-updates-card {
    border-radius: 0 25px 25px 25px !important;
    background: white;
    color: #104210;
}

.profile-updates-card a {
    color: #104210;
}

.profile-update-card-commands {
    background: #fff; /*#D3C02F*/
    border-radius: 0 25px 25px 25px;
    color: white !important;
    overflow-y: auto;
}

.profile-update-card-commands button {
    color: #104210 !important;
    font-size: 25px;
    transition: 0.3s;
}

.profile-update-card-commands button:hover {
    color: white !important;
    font-size: 30px;
}

/*social command buttons*/
.social-functions-buttons-container {
    font-size: 20px;
}

.social-functions-buttons {
    border-left: solid 4px #104210 !important;
    transition: 0.3s;
}

.social-functions-buttons:hover {
    background: #D3C02F !important;
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 60%, rgba(211, 192, 47, 1) 100%) !important;
    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 60%, rgba(211, 192, 47, 1) 100%) !important;
    background: linear-gradient(170deg, rgba(255, 255, 255, 1) 60%, rgba(211, 192, 47, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d3c02f", GradientType=1) !important;
}

.social-card-transparent-buttons {
    background: transparent !important;
    color: #104210;
}

.social-card-transparent-buttons:hover {
    background: #D3C02F !important;
    color: white;
}

.social-topics-list {
    max-height: 230px !important;
    overflow-y: auto;
}

/*Advertisement*/
#homewwire-advertisements {
    /*height: 300px;*/
    overflow-y: hidden;
    border-radius: 25px 25px 0 25px;
}

.carousel-caption {
    background: rgba(32, 32, 32, .9);
    border-radius: 25px 25px 0 25px;
}

.carousel-caption h5 {
    color: white !important;
    border: solid 2px rebeccapurple;
    border-radius: 25px;
}

.carousel-caption p {
    color: white;
}

/*notifications*/
.notification-dropdown-container {
    position: fixed;
    bottom: 260px;
    right: 0;
    z-index: 10000;
    border-radius: 25px 0 0 25px;
    background: #104210;
    opacity: 60%;
    transition: 0.5s;
}

.notification-dropdown-container:hover {
    opacity: 100%;
}

.notification-dropdown-container:focus {
    opacity: 100%;
}

.notification-dropdown-container button {
    background: #D3C02F;
    color: #104210;
}

.notification-dropdown-container li {
    border: 0!important;
    background: transparent!important;
    font-size: 14px;
}

.notification-headers-container {
    border-radius: 25px;
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -100%!important;
}
.notification-headers-container a {
    color: #104210 !important;
}

.notification-headers-container a:focus {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.notification-headers-container a:hover {
    background: #104210;
    color: #fff !important;
}